@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: #db2777; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #be185d; 
}
